<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesCreate.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/schoolsync_logo.png') }}" type="image/png">
    


    
    <style>
    body {
        background-image: url("{{ url_for('static', filename='images/Blizz.png') }}");
        background-size: cover;
        background-position: center;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(99, 3, 255, 1), rgba(132, 84, 210, 0.849));
        pointer-events: none; /* Ensure the overlay does not interfere with user interactions */
    }
    </style>
       
</head>
<body>
    <div class = "overlay"></div>  
    <!--<div class="header">
        <div class="logo">
            <a href="/">Harold M Brathwaite S.S.</a>
        </div> 
    </div>-->
    
    
    <div class="login-container">
        <div class="header-content">
            <h1>Welcome Back!</h1>
            <p>Login to access your account and manage your clubs.</p>
        </div>
        <form class="login-form" action="/verifyLogin" method="post">
            <button class="login-button" type="submit">
                <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="Google logo" class="google-logo">
                <span>Login with Google</span>
            </button>
        </form>
    </div>
</body>
</html>
